.photo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: 2px;
}
.photo-item {
    display: block;
    position: relative;
    width: 10.2%;
    height: 150px;
    border: 2px solid rgba(0,0,0,0.5);
    margin: 2px 2px 0 2px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.image-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    .photo-item {
        width: 18.6%;
    }
}
@media screen and (max-width: 600px) {
    .photo-item {
        width: 31%;
    }
}
@media screen and (max-width: 483px) {
    .photo-item {
        width: 47%;
    }
}