.photo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: 5px;
}
.photo-item {
    display: block;
    position: relative;
    width: 18%;
    height: 250px;
    border: 2px solid rgba(0,0,0,0.5);
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.image-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media screen and (max-width: 786px) {
    .photo-item {
        width: 22%;
    }
}
@media screen and (max-width: 600px) {
    .photo-item {
        width: 47%;
    }
}
@media screen and (max-width: 483px) {
    .photo-item {
        width: 98%;
    }
}